---
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPillRedirect from "@/components/SocialPillRedirect.astro";
import Funcionalidades from "@/components/icons/Funcionalidades.astro";
import ReactIcon from "@/components/icons/ReactIcon.astro";
import InProgress from "@/components/icons/InProgress.astro";
import Layout from "@/layouts/Layout.astro";
import Javascript from "@/components/icons/Javascript.astro";
import JavaIcon from "@/components/icons/JavaIcon.astro";
import Springboot from "@/components/icons/Springboot.astro";
---

<Layout
  title="Porfolio de Sergio Mendez"
  description="Porfolio de Sergio Mendez"
>
  <main class="px-4">
    <SectionContainer class="py-32 pb-8">
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-2 lg:pb-4"
      >
        Proyecto:
        <span class="text-yellow-800 dark:text-yellow-200"> Training App</span>
      </h1>
      <div class="flex flex-row">
        <ReactIcon class="size-12"/>
        <Javascript class="size-12"/>
        <JavaIcon class="size-12"/>
        <Springboot class="size-12"/>
      </div>

      <p
        class="text-lg lg:text-lg text-pretty font-semibold max-w-[700px] text-black dark:text-white mb-4 mt-6"
      >
        Proyecto en actual desarrollo que permite la creación y gestión de
        entrenamientos y usuarios.
      </p>
      <p
        class="text-lg lg:text-lg text-pretty font-semibold max-w-[700px] text-black dark:text-white mb-4"
      >
        Todo el frontend está construido en <span
          class="text-yellow-800 dark:text-yellow-200"
        >
          React y Javascript</span
        >
        integrando el desarrollo de dos API Rest que gestionan de forma independiente los usuarios y los entrenamientos.
      </p>
      <p
        class="text-lg lg:text-lg text-pretty font-semibold max-w-[700px] text-black dark:text-white"
      >
        Ambas están diseñadas con <span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Spring Boot</span
        >, implementando <span class="text-yellow-800 dark:text-yellow-200"
          >MySQL, Spring Security y JWT</span
        > para la autenticación de usuarios, y Spring Boot con <span
          class="text-yellow-800 dark:text-yellow-200"
        >
          MongoDB</span
        > para la gestión de entrenamientos.
      </p>
    </SectionContainer>

    <SectionContainer class="mt-8 pb-2">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Funcionalidades class="size-7" />
        Caracteristicas
      </h2>
    </SectionContainer>

    <SectionContainer class="py-8 pb-16">
      <Projects
        title="Aplicación Completa de Gestión de Entrenamientos"
        description="Desde la aplicación, se puede llevar a cabo una gestión completa tanto de los entrenamientos como de los usuarios, abarcando la creación, edición y persistencia de los mismos en la base de datos."
        image="projects/apptraining/general2.webp"
      />
      <Projects
        title="Inicio de sesión con autenticación mediante JWT"
        description="El acceso a la aplicación está controlado mediante una API Rest creada con Spring Security y JWT. Sus controladores permiten el acceso a los usuarios y restringen sus posibilidades en función de su rol dentro de la aplicación."
        image="/public/projects/apptraining/useresylogin.webp"
      />
      <Projects
        title="Gestión de Usuarios"
        description="Desde el panel de administración, es posible gestionar los usuarios de la aplicación."
        image="projects/apptraining/formulario usuarios portaltil.webp"
      />
      <Projects
        title="Proceso de elaboración de entrenamientos"
        description="La creación de entrenamientos se divide en tres etapas: la creación a través de un formulario, una revisión general con el envío a la base de datos, y la visualización general de los entrenamientos registrados."
        image="projects/apptraining/crear proceso fondo oscuro.webp"
      />
      <Projects
        title="Formulario de creación de entrenamientos"
        description="Formulario específicamente diseñado para esta aplicación. Construido en React, permite añadir tantos bloques y ejercicios como se deseen, ofreciendo una flexibilidad óptima en la creación de entrenamientos personalizados. Este diseño facilita el análisis posterior de los datos recopilados, proporcionando una visión detallada de cada componente del entrenamiento."
        image="projects/secundaria.webp"
      />
      <Projects
        title="Sección Buscador"
        description="La aplicación cuenta con una sección que permite buscar entrenamientos mediante palabras clave."
        image="projects/apptraining/buscador.webp"
      />
      <Projects
        title="Análisis  de datos"
        description="Sección en desarrollo para analizar los datos de los entrenamientos registrados. Todos los entrenamientos son enviados a una API Rest, que los almacena en una base de datos MongoDB. Esto nos permite realizar un análisis estadístico de los registros, obteniendo insights valiosos para mejorar la efectividad y personalización de los entrenamientos ofrecidos. "
        image="projects/apptraining/estadisticas.webp"
      />

      <SectionContainer class="mt-8 pb-2">
        <h2
          class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
        >
          <InProgress class="size-7" />
          Futuras implementaciones
        </h2>
      </SectionContainer>

      <Projects
        class="mb-0"
        description="La aplicación está en constante desarrollo, y se irán añadiendo nuevas funcionalidades para mejorar la experiencia del usuario y la eficacia del sistema. Algunas de las próximas implementaciones incluyen:"
      />

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
          class="w-full text-lg text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <tbody>
            <tr
              class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
            >
              <th
                scope="row"
                class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
              >
                Asignar entrenamientos a su fecha de ejecución.
              </th>
            </tr>
            <tr
              class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
            >
              <th
                scope="row"
                class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
              >
                Asignar entrenamientos a plan de entrenamiento.
              </th>
            </tr>

            <tr
              class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
            >
              <th
                scope="row"
                class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
              >
                Asignar plan de entrenamiento a usuario.
              </th>
              <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
              >
                <th
                  scope="row"
                  class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Implementar vista de entrenamientos asignados a usuario.
                </th>
                <tr
                  class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
                >
                  <th
                    scope="row"
                    class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                  >
                    Implementar vista de entrenamientos a ejecutar en rango de
                    fechas.
                  </th>
                  <tr
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
                  >
                    <th
                      scope="row"
                      class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                    >
                      Implementar sección estadisticas por usuario.
                    </th>
                  </tr>
                </tr>
              </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </SectionContainer>
    <SocialPillRedirect href="/">Volver</SocialPillRedirect>
  </main>
</Layout>
