---
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Porfolio de Sergio Mendez"
  description="Porfolio de Sergio Mendez"
>
  <main class="px-4">
    <SectionContainer id="contacto" class="py-44 pb-32">
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Proyecto: APP Training <a
          href="https://www.linkedin.com/in/sergio-mendez-soler-03902aa5/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>En el sector del entrenamiento deportivo existen diversas aplicaciones de gestion de entrenamientos</span>



        <span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Desarrollador Frontend con React y Backend con Java y Springboot </span
        >
        .<span class="text-red-800 dark:text-red-200">
          De Murcia, España</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Siempre explorando diferentes tecnologias y lenguajes.</span
        >
      </h2>


    </SectionContainer>
  </main>
</Layout>