<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Sergio Mendez. Desde hace 6 años formo parte del equipo directivo de una tienda en el sector del retail deportivo. 

    </p>

    <p>
      Siempre he estado interesado en la tecnologia por lo que he tratado de aportar todo mi conocimiento en este area desde mi puesto como asistant manager. 

    </p>

    <p>
      Me introduje en este sector tras graduarme en la universidad de ciencias del deporte y lo que empezo como un trabajo temporal me ha ido permitiendo crecer profesionalmente y trabajar habilidades como la organización de grandes cargas de trabajo y la gestion de equipos de mas de 30 personas.
    </p>

    <p>
      A base de investigar la forma de mejorar ciertos procedimientos descubri la programacion, un campo de la tecnologia que era bastante desconocido para mi y que me gusto tanto que me decidi a estudiar de forma reglada por lo que actualmente estoy cursando un ciclo formativo en desarrollo de software.

    </p>
  </div>
  <img src="/public/sergio.webp" class="rounded-full size-64 order-1 md:order-2" />
</section>
