---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[25rem] gap-4
    mx-auto 
    mb-10
  `}
>
  <BentoItem 
  class="col-span-10 lg:col-span-4" 
  title="Dinamic React Form"
  subSubtitle="Diseñado para elaborar planes de entrenamiento y nutrición estructurados en bloques."
  >

    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-purple-950 bg-opacity-90
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title="Elabora tus sesiones"
    subtitle="Añade tantos bloques e ítems como quieras."
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('../projects/principal.webp')"
    >
    </div>

  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title="Creado Desde Cero"
    subtitle="Con React y Javascript"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
        style="background-image: url('projects/primaria.webp')"
    >
    </div>
  </BentoItem>
  <BentoItem class="col-span-10 lg:col-span-4" title="Estructura JSON" subtitle="Data Analytics">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
        style="background-image: url('projects/secundaria.webp')"
    >
    </div>
  </BentoItem>
</section>