---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto 
  `}
>
  <BentoItem 
  class="col-span-10 lg:col-span-4 flex flex-col justify-center items-center" 
  title="Dinamic React Form"
  subSubtitle="Componente de React para crear formularios dinamicos"
  descripcion="Especialmente diseñado para elaborar planes de entrenamiento y nutricion estructurados en bloques"
  >

    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
    />
  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title="Diseña tus planes de entrenamiento y nutricion"
    subtitle="Podras añadir tantos bloques como quieras"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/public/projects/principal.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      
    />
  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title="Creado Desde Cero"
    subtitle="Con React y Javascript"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
        style="background-image: url('/public/projects/primaria.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
    />
  </BentoItem>
  <BentoItem class="col-span-10 lg:col-span-4" title="Estructura JSON" subSubtitle="Data Analitics">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
        style="background-image: url('/public/projects/secundaria.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
    />
  </BentoItem>
</section>