---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2014",
    title: "Grado en Ciencias de la Actividad Física y del Deporte - Universidad de Murcia",
    description:
      "Teniendo en la mano la matricula de Ingenieria Telematica finalmente me decante por las ciencias del deporte, primero con un ciclo formativo y luego con el grado universitario. No me arrepiento de la decisión, ya que me permitió crecer y formar habilidades blandas, ser una persona abierta y flexible.",
  },
  {
    date: "2021",
    title: "Cursos Formativos en Programacion",
    description:"Motivado por mejorar los recursos de mi puesto de trabajo descubro la programacion y me apasiona. Empiezo a formarme en cursos de programacion, principalmente en Java junto con Spring Boot y React.",
  },
  {
    date: "Actualmente...",
    title: "Ciclo Formativo de Grado Superior en Desarrollo de Aplicaciones Multiplataforma",
    description:
    "En la actualidad sigo trabajando como Asistant Manager en una importante empresa española del retail deportivo y dedico mi tiempo libre al desarrollo de software. Ademas lo compagino con el ciclo formativo de grado superior en desarrollo de aplicaciones multiplataforma.",
  },
  
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
