<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
   
    <!-- Imagen en la esquina superior derecha -->
    <div class="relative rounded-xl col-start-2 col-span-2 row-span-2 overflow-hidden transform transition-transform hover:scale-110  bg-cover bg-no-repeat bg-opacity-50 h-full w-full " style="background-image: url('/public/projects/apptraining/fondo.webp');">
       <div class="p-4">

           <h3 class="-mt-4 mb-6 text-lg font-semibold text-sky-200/80">
            Aplicacion Completa de Gestion de Entrenamientos
        </h3>
        <h3 class="-mt-4 mb-6 text-lg font-semibold text-sky-200/80">
            Login y Registro de Usuarios con Springboot y JWT
        </h3>
        <h3 class="-mt-4 mb-6 text-lg font-semibold text-sky-200/80">
            Gestion de Entrenamientos mediante Api Rest Con Springboot y MongoDB
        </h3>
    </div>
            
       
    </div>
    <div class="relative rounded-xl overflow-hidden transform transition-transform hover:scale-110">
        <img src="/public/projects/apptraining/useresylogin.webp" alt="Imagen 2" class="w-full h-full object-cover">
    </div>
    <div class="relative rounded-xl overflow-hidden transform transition-transform hover:scale-110">
        <img src="/public/projects/apptraining/crear proceso fondo oscuro.webp" alt="Imagen 3" class="w-full h-full object-cover">
    </div>
    <div class="relative rounded-xl overflow-hidden transform transition-transform hover:scale-110">
        <img src="/public/projects/apptraining/general2.webp" alt="Imagen 4" class="w-full h-full object-cover">
    </div>
    <div class="relative rounded-xl overflow-hidden transform transition-transform hover:scale-110">
        <img src="/public/projects/apptraining/data.webp" alt="Imagen 5" class="w-full h-full object-cover">
    </div>
    <div class="relative rounded-xl col-span-2 overflow-hidden transform transition-transform hover:scale-110 bg-cover bg-no-repeat bg-opacity-50 h-full w-full " style="background-image: url('/public/projects/apptraining/fondo.webp');">
        <div class="absolute top-10 left-4 flex flex-col">
            <h3 class="-mt-4 mb-6 text-lg font-semibold text-sky-200/80">
               Modo Revisión y Edicion de Entrenamientos
            </h3>
            <h3 class="-mt-4 mb-6 text-lg font-semibold text-sky-200/80">
                Sección de Estadisticas sobre los Entrenamientos Registrados
            </h3>
            <h3 class="-mt-4 mb-6 text-lg font-semibold text-sky-200/80">
                Busqueda de Entrenamientos en Base de Datos por Palabras Clave
            </h3>
            
        </div>
    </div>
    
    <div class="relative rounded-xl overflow-hidden transform transition-transform hover:scale-110">
        <img src="/public/projects/apptraining/buscador.webp" alt="Imagen 7" class="w-full h-full object-cover">
    </div>
</div>
