<div class="grid grid-cols-3 gap-4 mb-4">
    <!-- Imagen en la esquina superior derecha -->
    <div
        class="relative rounded-xl col-start-2 col-span-2 row-span-2 overflow-hidden bg-cover bg-no-repeat bg-opacity-50 h-full w-full flex items-center justify-center"
        style="background-image: url('/public/projects/apptraining/fondo.webp');"
    >
        <div class="flex flex-col p-4">
            <h3
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl -mt-4 mb-6 font-semibold text-white"
            >
                Aplicación Completa de Gestión de Entrenamientos
            </h3>
            <h3
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl -mt-4 mb-6 font-semibold text-white"
            >
                Login y Registro de Usuarios con Springboot y JWT
            </h3>
            <h3
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl -mt-4 mb-6 font-semibold text-white"
            >
                Gestión de Entrenamientos mediante Api Rest Con Springboot y
                MongoDB
            </h3>
        </div>
    </div>
    <div
        class="relative rounded-xl overflow-hidden"
    >
        <img
            src="/public/projects/apptraining/useresylogin.webp"
            alt="Imagen 2"
            class="w-full h-full object-cover"
        />
    </div>
    <div
        class="relative rounded-xl overflow-hidden"
    >
        <img
            src="/public/projects/apptraining/crear proceso fondo oscuro.webp"
            alt="Imagen 3"
            class="w-full h-full object-cover"
        />
    </div>
    <div
        class="relative rounded-xl overflow-hidden"
    >
        <img
            src="/public/projects/apptraining/general2.webp"
            alt="Imagen 4"
            class="w-full h-full object-cover"
        />
    </div>
    <div
        class="relative rounded-xl overflow-hidden"
    >
        <img
            src="/public/projects/apptraining/data.webp"
            alt="Imagen 5"
            class="w-full h-full object-cover"
        />
    </div>
    <div
        class="relative rounded-xl col-span-2 overflow-hidden bg-cover bg-no-repeat bg-opacity-50 h-full w-full flex items-center justify-center"
        style="background-image: url('/public/projects/apptraining/fondo.webp');"
    >
        <div class="flex flex-col p-4 my-4">
            <h3
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl -mt-4 mb-6 font-semibold text-white"
            >
                Modo Revisión y Edición de Entrenamientos
            </h3>
            <h3
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl -mt-4 mb-6 font-semibold text-white"
            >
                Sección de Estadisticas sobre los Entrenamientos Registrados
            </h3>
            <h3
                class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl -mt-4 mb-6 font-semibold text-white"
            >
                Busqueda de Entrenamientos en la Base de Datos por Palabras
                Clave
            </h3>
        </div>
    </div>

    <div
        class="relative rounded-xl overflow-hidden"
    >
        <img
            src="/public/projects/apptraining/buscador.webp"
            alt="Imagen 7"
            class="w-full h-full object-cover"
        />
    </div>
</div>
